/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #ccc;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.9;
$card-border-color: #444 !default;
$input-bg: #343a40 !default;
$input-color: #fff !default;